<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Error</title>
  </head>
  <body>
    <% if (error != "undefined") {%>
      <%= error %>
      <% } %>
  </body>
</html>
